@using static CommonLib.Web.Source.AspNetLibConfig

@inherits MyLayoutComponentBase

<TelerikRootComponent>
    <CascadingValue Value="_bpLayoutToCascade" Name="LayoutParameter">
        <PageTitle>@Title</PageTitle>

        <div class="my-body">
            @Body
        </div>
    </CascadingValue>
</TelerikRootComponent>
