@inherits MyLayoutComponentBase
@using static CommonLib.Web.Source.AspNetLibConfig

<TelerikRootComponent>
    <CascadingValue Value="_bpLayoutToCascade">
        <PageTitle>@Title</PageTitle>

        <div class="my-body">
            @Body
        </div>
    </CascadingValue>
</TelerikRootComponent>
