@namespace CommonLib.Web.Source.Common.Components.MyNavBrandComponent
@inherits MyNavBrandBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div class="@_renderClasses">
        <MyImage DisabledByDefault="false" Path="@MainImage" expected-width="250px" class="my-nav-brand-main-image" style="padding-top: 0;"></MyImage>
        <MyImage DisabledByDefault="false" Path="@AltImage" class="my-nav-brand-alt-image" style="padding-top: 0;"></MyImage>
    </div>

</CascadingValue>