@using CommonLib.Source.Common.Converters
@using CommonLib.Source.Common.Extensions.Collections

@namespace CommonLib.Web.Source.Common.Components.MyModalComponent
@inherits MyModalBodyBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div class="@_renderClasses" style="@_renderStyle">
        @ChildContent
    </div>

</CascadingValue>