@namespace CommonLib.Web.Source.Common.Components.MyNavMenuComponent
@inherits MyNavMenuBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div class="@_renderClasses">
        @ChildContent
    </div>

</CascadingValue>