@using CommonLib.Source.Common.Converters
@using CommonLib.Source.Common.Extensions.Collections

@namespace CommonLib.Web.Source.Common.Components.MyLabelComponent
@inherits MyLabelBase<TProperty>
@typeparam TProperty

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div class="@Classes.JoinAsString(" ")" style="@_style.CssDictionaryToString()">
        <div class="@_descriptionClasses.JoinAsString(" ")">
            @_displayName
        </div>
    </div>

</CascadingValue>