@namespace CommonLib.Web.Source.Common.Components.MyInputGroupComponent
@inherits MyInputGroupAppendBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div class="my-input-group-append">
        @ChildContent
    </div>

</CascadingValue>
