@namespace CommonLib.Web.Source.Common.Components.MyInputGroupComponent
@inherits MyInputGroupBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div class="my-input-group">
        @ChildContent
    </div>

</CascadingValue>
