@namespace CommonLib.Web.Source.Common.Components.MyButtonComponent
@inherits MyButtonDescriptionBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <div class="my-btn-description">@ChildContent</div>

</CascadingValue>