@using CommonLib.Web.Source.Models

@namespace CommonLib.Web.Source.Common.Components.MyEditFormComponent
@inherits MyEditFormBase

<CascadingValue Value="_bpParentToCascade" Name="ParentParameter">

    <form class="@_renderClasses" style="@_renderStyle" @attributes="@_renderAttributes" onsubmit="@_handleSubmitDelegate">
        <CascadingValue Value="_fixedEditContext">
        <CascadingValue Value="_fixedEditContextBp">
            @ChildContent
        </CascadingValue> 
        </CascadingValue>
    </form>

</CascadingValue>