@using CommonLib.Source.Common.Converters
@using CommonLib.Web.Source.Common.Utils.UtilClasses
@using CommonLib.Source.Common.Extensions
@using CommonLib.Source.Common.Extensions.Collections
@using CommonLib.Source.Common.Utils.UtilClasses
@using CommonLib.Web.Source.Common.Converters
@using CommonLib.Web.Source.Services

@namespace CommonLib.Web.Source.Common.Components.MyPromptComponent
@inherits MyPromptBase

<div id="@_id" rendered="false"></div>